.container {
    max-width: 600px; /* Limitar el ancho máximo */
    margin: 0 auto; /* Centrar horizontalmente */
}

h2 {
    font-size: 2rem; /* Aumentar el tamaño del título */
}

h5 {
    font-size: 1.25rem; /* Aumentar el tamaño del subtítulo */
}

.spinner-border {
    margin-top: 20px; /* Espacio por encima del spinner */
}
